.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(150px, auto);
}_

h5 {
    font-weight: 100;
}  



.block {
    padding: 5px;
    border: 1px solid #fb7cff;
    border-radius: 15px;
}

.grayscale {
    filter: grayscale(50);
}

.logo__main {
    width: 300px;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.logo__sd {
    width: 150px;

    grid-column: 4;
    grid-row: 4;
}


.instagram {
    grid-column: 4;
    grid-row: 1;
}

.twitter {
    grid-column: 1;
    grid-row: 1;
}

.youtube {
    grid-column: 4;
    grid-row: 2;
}

.footer__block {
    max-width: 160px;
    max-height: 250px;
}